*::selection{
    color: darkblue;
    background: #000;
}
body{
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-MnLMB5Yr8Wnnd8r4olX3euaP17PV1y9A9g&s'); */
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
}
.Accordion{
    width: 50vw;
    margin:2vw 25vw;
    border-top: 2px solid;
    border-bottom: 2px solid;
}
.main-1{
    border-radius:0.4vw;
    cursor: pointer;
    padding: 1vw;
    background: rgb(12, 132, 230);

}
.main-2{
    background: rgb(54, 11, 184);
    border-left: 2px solid;
    border-right: 2px solid;
    color: #fff;
    padding:.1vw 2vw;
    border-radius:0.4vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2vw;
}
.subItem1{
    background: darkblue;
    border:1px solid white;
    border-radius: 50%;
    padding:0.2vw;
    cursor: pointer;
}
.subItem2{
    color: darkblue;
    padding-left: 1vw;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    text-decoration: none;
}
